<h1>Events</h1>
{% if event_list %}
<h2>Today:</h2>
{% if events_today %}
<ul>
    {% for event in events_today %}
    <li><a href="/event/{{ event.id }}/">{{ event.title }}</a>
        from {{ event.start_time }} to {{ event.end_time }}
    </li>
    {% endfor %}
</ul>

{% else %}
<p>Nothing on today.</p>
{% endif %}

{% else %}
<p>You don't have any upcoming events. Add some?</p>
{% endif %}

<form action="{% url 'tasks:create_event' %}" method="get">
    {% csrf_token %}
    <input type="submit", value="Add a new event">
</form>

