{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">

<ul>
    <li class=navbar><a href="/tasks/">Tasks </a></li>
    <li class=navbar><a href="/events/">Events</a></li>
    <li class=navbar><a href="/schedule/">Schedule</a></li>
    <li class=navbar><a href="/stats/">Statistics</a></li>
</ul>

<a href="/events/">&ltBack to events</a>

<h1>{{ event.title }}</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<li>On {{ event.date }}</li>
<li>From {{ event.start_time }} until {{ event.end_time }}</li>
<br>

<form action="{% url 'tasks:delete_event' event.id %}" method="get">
    {% csrf_token %}
    <input type="submit", value="Delete">
</form>
