{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">

<ul>
    <li class=navbar><a href="/tasks/">Tasks </a></li>
    <li class=navbar><a href="/events/">Events</a></li>
    <li class=navbar><a href="/schedule/">Schedule</a></li>
    <li class=navbar><a href="/stats/">Statistics</a></li>
</ul>

<a href="/events/">&ltBack to events</a>

<h1>{{ routine.title }}</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<li>Every {{ routine.day }}</li>
<li>From {{ routine.start_time }} until {{ routine.end_time }}</li>
<br>

<form action="{% url 'tasks:delete_routine' routine.id %}" method="get">
    {% csrf_token %}
    <input type="submit", value="Delete">
</form>
