<h1>Add a new task:</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'tasks:create_task' %}" method="post">
    {% csrf_token %}
    Title:<br><input type="text" name="title" placeholder="Enter a title"><br><br>
    Description:<br><input type="text" name="description" placeholder="Enter a description"><br><br>
    Due date:<br><input type="date" name="due_date" placeholder="Enter a due date"><br><br>
    Due time:<br><input type="time" name="due_time" placeholder="Enter a due time"><br><br>
    Time estimate:<br><input type="time" name="time_estimate" placeholder="Enter a time estimate"><br><br>
    Priority level:<br><input type="number" name="priority" placeholder="Enter a priority level"><br>(Higher = more important)<br><br>
    <input type="submit" value="Save">
</form>
