<a href="">&ltBack to tasks</a>

<h1>{{ task.title }}</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<li>Due on {{ task.due_date }} at {{ task.due_time }}</li>
<li>Time estimate: {{ task.time_estimate }}</li>
<li>Priority level: {{ task.priority }}</li>
<p>{{ task.description }}</p>

{% if task.done %}
<p>Done!</p>
<form action="{% url 'tasks:mark_as_todo' task.id %}" method="post">
    {% csrf_token %}
    <input type="submit", value="Mark as todo">
</form>
{% else %}
<p>Still to-do.</p>
<form action="{% url 'tasks:mark_as_done' task.id %}" method="post">
    {% csrf_token %}
    <input type="submit", value="Mark as done">
</form>
{% endif %}

<form action="{% url 'tasks:edit_task' task.id %}" method="get">
    {% csrf_token %}
    <input type="submit", value="Edit">
</form>

<form action="{% url 'tasks:delete_task' task.id %}" method="get">
    {% csrf_token %}
    <input type="submit", value="Delete">
</form>
