<h1>Edit task:</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}


<form action="{% url 'tasks:edit_task' task.id %}" method="post">
    {% csrf_token %}
    Title:<br><input type="text" name="title" placeholder="Enter a title", value={{ task.title }}><br><br>
    Description:<br><input type="text" name="description" placeholder="Enter a description", value={{ task.description }}><br><br>
    Due date:<br><input type="date" name="due_date" placeholder="Enter a due date", value={{ task.due_date }}><br><br>
    Due time:<br><input type="time" name="due_time" placeholder="Enter a due time", value={{ task.due_time }}><br><br>
    Time estimate:<br><input type="time" name="time_estimate" placeholder="Enter a time estimate", value={{ task.time_estimate }}><br><br>
    <input type="submit" value="Update">
</form>
