{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">

<ul>
    <li class=navbar><a href="/tasks/">Tasks </a></li>
    <li class=navbar><a href="/events/">Events</a></li>
    <li class=navbar><a href="/schedule/">Schedule</a></li>
    <li class=navbar><a href="/stats/">Statistics</a></li>
</ul>

<h1>Confirm deletion</h1>

<form action="{% url 'tasks:delete_task' task.id %}" method="post">
    {% csrf_token %}
    <input type="submit", value="Delete task">
</form>
